/* style.css */
.container {
    background-color: #fff; /* Cor de fundo para o container do formulário */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda do container */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .form-label {
    font-weight: 500; /* Peso da fonte para os rótulos */
    color: #333; /* Cor do texto */
  }
  
  .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 40px;
}
  
  .form-group {
    margin-bottom: 15px; /* Espaçamento entre grupos de formulários */
  }
  
  .btn-primary {
    background-color: #007bff; /* Cor de fundo para botões principais */
    border-color: #007bff; /* Cor da borda para botões principais */
    padding: 10px 20px; /* Espaçamento interno para botões */
    border-radius: 4px; /* Bordas arredondadas para botões */
    font-size: 16px; /* Tamanho da fonte do botão */
  }
  
  .btn-primary:hover {
    background-color: #0069d9; /* Cor de fundo mais escura no hover */
    border-color: #0062cc; /* Cor da borda mais escura no hover */
  }
  